/*======================================
//--//-->   STYLES GENERALES
======================================*/
@keyframes blink {
  50% {
      opacity: 0;
  }
}
@keyframes tilt-n-move-shaking {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(23, 23, 23);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #7e369f;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito',sans-serif;
}

body, html {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*======================================
//--//-->   NAV
======================================*/
header {
  background-color: #7e369f;
  color: white;
  position: sticky;
  top:0;
  z-index: 10;
  .navegacion {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding: 1.5rem;
      .nav-logo {
          text-decoration: none;
          color: #ffffff;
          font-weight: 700;
          font-size: 2rem;
          &:hover{
            animation: tilt-n-move-shaking 0.25s infinite;
         }
      }
      .nav-list {
          list-style: none;
          display: flex;
          align-items: center;
          .list-item {
              a {
                  margin: 4px;
                  text-decoration: none;
                  color: #ffffff;
                  font-weight: 700;
                  font-size: 1.1rem;
                  padding: 0.5rem 1rem;
                  transition: transform 0.3s, box-shadow 0.3s;
                  &:hover {
                      transform: scale(0.95);
                      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                      border-radius: 5px;
                  }
              }
              .boton-negro {
                  background-color: #181419;
                  border-radius: 5px;
                  &:hover {
                      background-color: #9f3647;
                  }
                  
              }
              
          }
      }
  }   
}
@media (max-width: 768px) {
  header{
      .navegacion {
          flex-direction: column;
          row-gap: 25px;
          margin-left:10px;
          margin-right: 10px;
          .title {
              margin-top: 20px;
          }
          
          .nav-list {
              padding:initial;
              .list-item {
                  a {
                      font-size: 1.1rem;
                      padding: 0.2rem 0.5rem;
                      margin-right: initial;

                  }

              }
          }
      }
  }
}
/*======================================
//--//-->   SECCION PRINCIPAL
======================================*/
.seccion-principal {
  position: relative;
  width: 100%;
  min-height: 80vh; 
  overflow: hidden;
  background-color:rgb(0, 0, 0,0.2);
  .video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;  
  }
  .titulo-bienvenida {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10rem;
  }
  .cursor {
    display: inline-block;
    font-weight: bold;
    animation: blink 0.75s steps(1) infinite;
  }
  
}
/*======================================
//--//-->   SECCION ABOUT
======================================*/
.seccion-about {
  padding-top: 5rem; /* Ajusta el espaciado según sea necesario */
  background-color: #ffffff; /* Asegura que el fondo no sea transparente */
}
.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-mf .about-img {
  margin-bottom: 2rem;
}
.about-mf .about-img img {
  margin-left: 10px;
}
.skill-mf span {
  color: #4e4e4e;
} 
.skill-mf .progress {
  background-color: #cde1f8;
  margin: .5rem 0 1.2rem 0;
  border-radius: 0;
  height: .7rem;
} 
.skill-mf .progress .progress-bar {
  height: .7rem;
  background-color: #7e369f;;
}
/*======================================
//--//-->   SECCION PORTAFOLIO
======================================*/
.seccion-portafolio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  .titulo{
    font-size: 2rem;
    margin-bottom: 50px;
  }
  .proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    .proyecto {
      border: 1px solid #ccc;
      border-radius: 10px;
      overflow: hidden;
      width: 300px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      &:hover {
        transform: translateY(-10px);
      }
      .img-box {
          img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .content {
        padding: 15px;
        h2 {
          margin-top: 0;
          font-size: 1.5rem;
        }
        p {
          margin: 10px 0 0;
        }
      }
    }
  }
}
/*======================================
//--//-->   FOOTER
======================================*/
footer {
  text-align: center;
  padding-bottom: 1rem;
  .buttons {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px; /* Ajusta el margen superior */
    gap: 20px; /* Espacio entre botones */
    flex-wrap: wrap; /* Envolver los botones en pantallas pequeñas */
    a {
      text-decoration: none;
      font-size: 20px; /* Reducir el tamaño de fuente para pantallas pequeñas */
      width: 50px; /* Reducir el tamaño de los botones */
      height: 50px;
      line-height: 50px;
      text-align: center;
      background: #1a1a1a;
      color: #f1f1f1;
      border-radius: 50%;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
      transition: all .4s ease-in-out;
      margin-bottom: 10px; /* Ajustar el espacio entre botones */
      &:hover {
        transform: scale(1.2);
        color:white;
        text-decoration: none;
      }
    }
  }
}

